<h1>Dashborad#index</h1>

<%= link_to 'items','/items' %>
<br/><br/>

<%= link_to 'group_items','/group_items' %>
<%= link_to 'brands','/brands' %>
<%= link_to 'makers','/makers' %>
<%= link_to 'delivery_methods','/delivery_methods' %>
<br/><br/>

<%= link_to 'categories','/categories' %>
<%= link_to 'large_categories','/large_categories' %>
<%= link_to 'middle_categories','/middle_categories' %>
<%= link_to 'small_categories','/small_categories' %>

