<h1>Dashborad#index</h1>

<%= link_to 'items','/items' %>
<%= link_to 'group_items','/group_items' %>
<%= link_to 'brands','/brands' %>
<%= link_to 'makers','/makers' %>
<%= link_to 'categories','/categories' %>
<%= link_to 'delivery_methods','/delivery_methods' %>
