<p id="notice"><%= notice %></p>

<h1>Listing Small Categories</h1>

<table>
  <thead>
    <tr>
      <th>Small category code</th>
      <th>Smalle category name</th>
      <th>Display order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @small_categories.each do |small_category| %>
      <tr>
        <td><%= small_category.small_category_code %></td>
        <td><%= small_category.small_category_name %></td>
        <td><%= small_category.display_order %></td>
        <td><%= link_to 'Show', small_category %></td>
        <td><%= link_to 'Edit', edit_small_category_path(small_category) %></td>
        <td><%= link_to 'Destroy', small_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Small category', new_small_category_path %>
