<p id="notice">
	<%= notice %>
</p>

<h1>Listing Middle Categories</h1>
<ul id="tree">
	<% @middle_categories.each do |category_group| %>
	<li>
		<%= category_group[0] %>
		<ul>
			<% category_group[1].each do |middle_category| %>
			<li>
				<%= link_to middle_category.middle_category_name, edit_middle_category_path(middle_category) %>(<%=middle_category.middle_category_code%>)
				&nbsp;&nbsp;[<%= link_to 'del', middle_category, method: :delete, data: { confirm: 'Are you sure?' } %>]
			</li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>
<br>
<%= link_to 'New Middle category', new_middle_category_path %>
