<p id="notice"><%= notice %></p>

<h1>Listing Middle Categories</h1>

<table>
  <thead>
    <tr>
      <th>large category code</th>
      <th>Middle category code</th>
      <th>Middle category name</th>
      <th>Display order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @middle_categories.each do |middle_category| %>
      <tr>
        <td><%= middle_category.large_category_code %></td>
        <td><%= middle_category.middle_category_code %></td>
        <td><%= middle_category.middle_category_name %></td>
        <td><%= middle_category.display_order %></td>
        <td><%= link_to 'Show', middle_category %></td>
        <td><%= link_to 'Edit', edit_middle_category_path(middle_category) %></td>
        <td><%= link_to 'Destroy', middle_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Middle category', new_middle_category_path %>
