<%= form_for(@group_item) do |f| %>
  <% if @group_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_item.errors.count, "error") %> prohibited this group_item from being saved:</h2>

      <ul>
      <% @group_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_item_code %><br>
    <%= f.text_field :group_item_code %>
  </div>
  <div class="field">
    <%= f.label :item_code %><br>
    <%= f.text_field :item_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
