<p id="notice"><%= notice %></p>

<p>
  <strong>Large category code:</strong>
  <%= @category.large_category_code %>
</p>

<p>
  <strong>Middle category code:</strong>
  <%= @category.middle_category_code %>
</p>

<p>
  <strong>Small category code:</strong>
  <%= @category.small_category_code %>
</p>

<p>
  <strong>Large category name:</strong>
  <%= @category.large_category_name %>
</p>

<p>
  <strong>Middle category name:</strong>
  <%= @category.middle_category_name %>
</p>

<p>
  <strong>Small category name:</strong>
  <%= @category.small_category_name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
